.memo-form-box {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.memo-form-content {
  display: block;
  resize: none;
  height: 100%;
  padding: 20px;
  color: #4F4F4F;
  line-height: 1.6;
  border: none;
  border-bottom: 1px solid #eaeaea;
}

.memo-form-content-editer {
  height: calc(100% - 70px);
}

.memo-form-box-footer {
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.memo-form-btn {
  width:100%;
  padding: 14px;
  border-radius: 16px;
  min-width: 60px;
}

.memo-form-cancel-btn {
  background-color: #ddd;
}

.memo-form-del-btn {
  background-color: #ea7d74;
  color: #fff;
  margin-right:auto;
}