.todo-input-box {
  position: relative;
  padding: 0 20px;
}

.todo-input-box input {
  width: calc(100% - 60px);
  height: 46px;

  border-radius: 16px 0 0 16px;
  padding-left: 40px;
  font-weight: 500;
  color: #4f4f4f;
  font-size: 14px;
  padding: 0 20px 0 40px;
  border: 1px solid #eaeaea;
  border-right: none
}

.todo-input-box input::placeholder {
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
}

.todo-input-box .todo-add-btn {
  width: 60px;
  height: 46px;
  border: 1px solid #eaeaea;
  color: #4f4f4f;
  border-radius: 0 16px 16px 0;
  font-size: 14px;
}

@media screen and (max-width: 998px) {

  .todo-input-box {
    padding:0;
    margin-top: 20px;
  }
}